@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi|Cagliostro|Passero+One|Raleway');
body {
  background-color: #232323;
  margin: 0;
  overflow-y: hidden;
  font-family: 'Georgia', sans-serif;
  height: 100vh;
}

.howto {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

a {
  text-decoration: underline;
  color: white;
  font-weight: 900;
}

.name {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Passero One', cursive;
}


/*FOR MOBILE*/

@media only screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #container {
    height: 250px;
  }
  body .source a {
    top: 0;
    position: relative;
    color: white;
  }
  body h1 {
    text-align: left;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  .name {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Passero One', cursive;
  }
  .howto {
    text-transform: lowercase;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
}


/*end*/

#container {
  margin: 20px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  color: white;
  background: steelblue;
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.1;
  padding: 20px 0;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  font-family: 'Passero One', cursive;
  height: 100%;
  font-weight: 700;
  letter-spacing: 1px;
  color: steelblue;
  font-size: inherit;
  transition: all .5s;
  --webkit-transition: all .5s;
  --moz-transition: all .5s;
  outline: none;
}

button:hover {
  color: white;
  background: steelblue;
}

#message {
  display: inline-block;
  width: 20%;
}

#colorDisplay {
  text-transform: uppercase;
  font-size: 200%;
  font-weight: 900;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

.square {
  padding-bottom: 30%;
  float: left;
  margin: 1.5%;
  width: 30%;
  border-radius: 17%;
  background: red;
  transition: background .6s;
  --webkit-transition: background .6s;
  --moz-transition: background .6s;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  color: white;
  background: steelblue;
}

.source {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  color: #8c8c8c;
  padding-top: 10px;
}

.source a {
  color: #8c8c8c;
  margin-right: 10px;
}
