body {
  background-color: #232323;
  margin: 0;
  font-family: 'Georgia', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  background: steelblue;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  line-height: 1.1;
  padding: 20px 0;
}

button{
  border:none;
  background: none;
  text-transform: uppercase;
  height:100%;
}

#colorDisplay {
  font-size: 200%;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

.square {
  padding-bottom: 30%;
  float: left;
  margin: 5px;
  width: 30%;
  background-color: red;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  color:black;
}

.selected {
  background: blue;
}
